header{
  display: block;
  text-align: center;
  min-width: 90%;
  background-color: rgba(128, 0, 0, .75);
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  border-color: #FFD700;
  border-width: 6px;
  border-style: ridge;
  
  
}
headerphoto{
  display: inline;
  text-align: right;
  max-width: 30%;
  border: 6px #FFD700;
}

.main{
  max-width: 90%;
  min-width: 70%;
  display: block;
  margin: 0 auto;
  background-color: rgba(128, 0, 0, .5);
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  border-color: #FFD700;
  border-width: 6px;
  border-style: ridge;
}
img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
a {
  color: blue;
}
p {
  color: white;
}

.article{
  max-width: 90%;
  display: block;
  text-align: center;
  min-width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom-color: #FFD700;
  border-bottom-width: 4px;
  border-bottom-style: ridge;
}
body{
  background-attachment: fixed;
  background-repeat: no-repeat;
  

}
h1{
  height: 30px;
  color: white;
}
h2{
  height: 20px;
  color: white;
}
h3{
  height: 10px;
  color: white;
}
footer{
  margin: 0 auto;
  display: block;
  text-align: center;
  max-width: 70%;
  background-color: rgba(128, 0, 0, .5);
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  border-color: #FFD700;
  border-width: 6px;
  border-style: ridge;
}
