header{
  margin: 0 auto;
  display: block;
  text-align: left;
  max-width: 70%;
  background-color: #CC0033;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  border: 6px #FFD700;
  
  
}
headerphoto{
  margin: 0 auto;
  display: inline;
  text-align: right;
  max-width: 30%;
  border: 6px #FFD700;
}
nav{
  float: right;
  margin: 0 auto;
  display: block;
  text-align: right;
  max-width: 20%;
  min-width: 20%;
  background-color: #CC0033;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  border: 6px #FFD700;
}
.main{
  max-width: 90%;
  min-width: 70%;
  display: block;
  text-align: center;
  margin: 0 auto;
  background-color: #CC0033;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  border: 4px #FFD700;
}
img {
  max-width: 80%;
  margin: 0 auto;
  display: block;
}
a {
  color: white;
}
p {
  color: white;
}
iframe{
  max-width: 80%;
  margin: 0 auto;
  display: block;
}
article{
  max-width: 90%;
  min-width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  border: 4px #FFD700;
  background-color: #CC0033;
}
body{
  background-color: green;
}
h1{
  height: 30px;
  color: black;
}
h2{
  height: 20px;
  color: white;
}
h3{
  height: 10px;
  color: black;
}
footer{
  margin: 0 auto;
  display: inline;
  text-align: center;
  max-width: 70%;
  background-color: #CC0033;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  border: 6px #FFD700;
  margin-top: 50px;
}
